body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.header-container {
    padding: 20px 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-menu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-transform: uppercase;
}
.header-menu li a:hover {
    color: yellow;
    transition: color .7s;
}

/* Banner */
.banner {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    height:400px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-title {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    font-size: 46px;
}
.banner-description {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

/* Button */
.button {
    background-color: #e84545;
    color: #fff;
    cursor: pointer;
    padding: 12px 30px;
    border: none;
    border-radius: 2px;
}

.button:hover {
    opacity: .9;
}