body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
.header {
    background-color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
}

.header-container {
    border-bottom: solid 1px #515369;
    padding: 20px 30px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    width: 100%;
    max-width: 992px;
}

.header-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-menu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-transform: uppercase;
}
.header-menu li a:hover {
    color: #e84545;
    transition: color .7s;
}

/* Banner */
.banner {
    background-image: url('../images/background.png');
    background-repeat: no-repeat;
    height:400px;
    padding-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.banner-title {
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    text-align: center;
    font-size: 46px;
}
.banner-description {
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}

/* Featueres */
.features {
    padding: 80px 0;
}
.features-container {
    display: flex;
    max-width: 1180px;
    margin: 0 auto;
    flex-wrap: wrap;
    justify-content: space-between;
}

.features-item {
    width: 100%;
    max-width: 340px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    padding: 20px;
}
.features-title {
    color: #3b3e41;
    text-transform: uppercase;
}
.features-description {
    color: #3b3e41;
    text-align: center;
    margin: 0;
}

/* Works */
.works {
    display: flex;
    flex-wrap: wrap;
}
.works-item {
    width: 25%;
    height: 250px;
    position: relative;
}
.works-item:hover .works-description {
    opacity: 0.8;
    transition: opacity 0.7s;
}
.works-image {
    width: calc(100% - 1px);
    height: calc(100% - 1px);
}
.works-description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 0;
    background-color: #e84545;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s;
}
.works-title {
    margin: 0 0 5px 0;
    color: #fff;
    font-size: 16px;
}
.works-category {
    margin: 0;
    color: #fff;
    font-size: 14px;
}

/* Components */

/* Button */
.button {
    background-color: #e84545;
    color: #fff;
    cursor: pointer;
    padding: 12px 30px;
    border: none;
    border-radius: 2px;
}

.button:hover {
    opacity: .9;
}