body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #323650;
}

.header-container {
    padding: 20px 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.header-menu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 15px;
    text-transform: uppercase;
}
.header-menu li a:hover {
    color: yellow;
    transition: color .7s;
}